.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-box {
  width: 500px;
  height: 250px;
  margin: 60px;
  border-radius: 15px;  
  cursor: pointer;
}

.weather-box-content {
  width: 100%;
  height: 100%;
  padding: 1.5em;
}
.box-header {
}
.box-header img {
  width: 85px;
}
.open {
  opacity: 0;
  position: absolute;
  width: 500px;
  height: 150px;
  border-radius: 0px 0px 15px 15px;
  z-index: -100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}
